body {
  background-color: black;
  color: white;
  text-align: center;
}

header {
  border: 5px solid rgb(68, 68, 68);
  margin: 25px;
  border-radius: 10px;
}

nav {
margin: 10px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  height: fit-content;
  border: 5px solid rgb(68, 68, 68);
  margin: 25px;
  border-radius: 10px;
  background-color: black;
}





